/* Imported Text Styles */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Noto+Sans:ital,wght@0,300;1,300&family=Playfair+Display:ital,wght@1,500&family=Poppins:ital,wght@1,300&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color: white;
}

/* #PAGE-1 */
.page-1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: aqua; */
    justify-content: center;
    
    

}

/* Whole Text of page-1 */

.info{
    
    padding-top: 15rem;
    padding-bottom: 10rem;
    margin: 1rem;
}

#l1{
    /* background-color: firebrick; */
    
    width: fit-content;
    margin: auto;
    -webkit-text-fill-color: azure;
}

/* COLOR The NAME */
.color-n{
    -webkit-text-fill-color: firebrick;

}
#l2{
    /* background-color: forestgreen; */
    
    width: fit-content;
    margin: auto;
    -webkit-text-fill-color: azure;
    font-size: 1.35rem;
    
}
#l3{
    /* background-color: fuchsia; */
    font-size: 1rem;
    border-radius: 0.2rem;
    border: 0.2rem solid whitesmoke;
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
    -webkit-text-fill-color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}

/* Animation */

#l3:hover{
    background-color: rgb(100, 216, 216);
    border-color: rgb(42, 247, 247);
    transition: all 0.5s;
}
/* .fa-solid:hover{
    transform: rotate(90deg);
} */






/* Arrow */
.fa-solid{
    padding-left: 1rem;
    font-size: 1.2rem;
    transition: 0.3s;
    
}

/* Backgroung video  */

.b-vid{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#two {

}
/* Aspect Ratio Adjust */
@media (min-aspect-ratio:16/9){
    .b-vid{
        width: 100%;
        height: auto;
    }
}

/* #PAGE-2 */

.page-2{
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    /* display: flex;
    justify-content: center; */
    
    
}
.navBar{
    background-color: rgb(17, 26, 36);
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-self: flex-start;
    
    padding: 1rem;
    border-bottom: 0.2rem solid aqua;


}
.nav{
    /* background-color: firebrick; */
    /* margin: auto; */
    margin-left: 8rem;
    
    
    /* margin: 1rem;
    padding: 1rem; */

}
@media(max-width:822px){
    .nav{
        margin-left: 5rem;
    }
}
@media(max-width:540px){
    .nav{
        margin-left: 1rem;
    }
}
@media(max-width:502px){
    .nav{
        margin-left: 0rem;
    }
}
@media(max-width:375px){
    .nav{
        margin-left: 0.5rem;
    }
}

@media(max-width:338px){
    .nav{
        margin-left: 0rem;
    }
}





.nb{
    /* background-color: forestgreen; */
    margin: 3rem;
    font-size: 1.6rem;
    text-decoration: none;
    -webkit-text-fill-color: rgb(2, 185, 185);

    /* padding-left: 5rem; */


}
@media(max-width:822px){
    .nb{
        margin: 2.25rem;
        font-size: 1.85rem;
    }
}
@media(max-width:540px){
    .nb{
        font-size: 1.5rem;
        margin: 0.5rem;
    }
}
@media(max-width:340px){
    .nb{
        margin: 0.55rem;
    }
}
/* @media(max-width:374px){
    .nb{
        font-size: 1.3rem;
    }
} */
@media(max-width:375px){
    .nb{
        font-size: 1rem;
        margin: 0.5rem;
    }
}
.About{
    display: flex;
    justify-content: center;
    
    
}
#ab{
    font-size: 3rem;
    margin-top: 3rem;
    -webkit-text-fill-color: rgb(88, 106, 124);
    
}

.myself img{
    width: 10rem;
    border-radius: 5rem;
    border: 1rem outset rgb(131, 214, 214) ;
}
.myself{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem; 
    /* padding: 1rem; */
    /* position: relative; */
    /* right: -10rem;
}
#dev{
    margin: 0.5rem;
    font-size: 2rem;
    line-height: 2.6rem;
    width: 23rem;
    position: relative;
    left: 2.5rem;
}
.download{
    
    margin: 0.5rem;
    border: 0.2rem outset rgb(131, 214, 214);
    background-color: rgb(131, 214, 214);
    border-radius: 0.8rem 0rem 0.8rem 0rem;
}
#down{
    
    text-decoration: none;
    -webkit-text-fill-color: rgb(59, 59, 241);
}
#down i{
    position: relative;
    right: 0.8rem;
    /* text-decoration-color: black; */
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 1px solid red; */
    column-gap: 1rem;
    margin: 1rem;
}
.I{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 31rem;
    position: relative;
    /* border: 1px solid red; */
    width: fit-content;
    margin-right: 5rem;
    /* left: 7rem; */
    /* top: 5rem; */
}
.para{
    /* font-size: 1.4rem; */
}
#contact-btn{
    text-decoration: none;
    /* -webkit-text-fill-color: rgb(74, 145, 145); */
}

.myself {
    /* border: 1px solid rebeccapurple; */
    width: fit-content;
    margin-left: 15rem;
}
.download {
    /* border: 1px solid rebeccapurple; */
}
#down{
    text-decoration: none;
}
.fa-file-arrow-down{
    position: relative;
    right: 0.5rem;
}
.download{
    border: 0.4rem outset rgb(131, 214, 214);
    background-color: rgb(131, 214, 214);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0.2rem 0.2rem 2rem 1rem rgb(131, 214, 214);
    position: relative;
    top: 1rem;
}



@media(max-width: 1254px) {
    .myself {
        margin-left: 5rem;
        width: fit-content;
    }
}

@media(max-width: 589px) {
    .myself {
        margin-left: 3rem;
        width: fit-content;
    }
}
@media(max-width: 429px) {
    .myself {
        margin-left: 1.5rem;
        width: fit-content;
    }
    .I {
        margin-right: 1rem;
    }
}
@media(max-width:500px) {
    #page-3{
        margin-top: 10rem;
    }
}










.cont img{
    width: 10rem;
    height: 10rem;
    margin-bottom: 1.5rem;
    
}
.cont{
    /* border: 1px solid firebrick; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.responsive{
    /* border: 1px solid fuchsia; */
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.machine{
    /* border: 1px solid forestgreen; */
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:  1rem;
}
.compa{
    /* border: 1px solid aqua; */
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
/* .page-2{
    height: 1000rem;
    background-color: firebrick;
} */
/* .page-2 NavBar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: inherit;
    z-index: 99;
    
} */
@media(max-width:660px){
    .cont{
        flex-wrap: wrap ;
    }
}
